<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <img src="https://raw.githubusercontent.com/alexpawlowski/alexpawlowski.github.io/master/_assets/linkedin-photo-square.jpg" />

      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-location" href=""><i class="fa fa-map-marker fa-fw"></i>&nbsp;Knoxville, TN</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="sidebar-nav-item" href="{{ site.url }}/projects/">Projects</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>
    <div class="sidebar-social">
      <a class="sidebar-social-item" href="{{ site.github.repo }}"><i class="fa fa-github-alt fa-fw"></i></a>
      <a class="sidebar-social-item" href="https://instagram.com/alexpawlowski/"><i class="fa fa-instagram fa-fw"></i></a>
      <a class="sidebar-social-item" href="https://twitter.com/apawlows"><i class="fa fa-twitter fa-fw"></i></a>
      <a class="sidebar-social-item" href="https://linkedin.com/in/alexpawlowski"><i class="fa fa-linkedin fa-fw"></i></a>
    </div>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
