<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <img src="https://raw.githubusercontent.com/alexpawlowski/alexpawlowski.github.io/master/_assets/linkedin-photo-square.jpg" />

      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <div class="sidebar-location">
      <h5>{{site.location}}</h5><img src="PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXR
vcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVm
Vyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xI
iB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8v
d3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgODA
gODAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDgwIDgwOyIgeG1sOnNwYWNlPS
JwcmVzZXJ2ZSI+CjxnPgoJPGc+CgkJPHBhdGggc3R5bGU9ImZpbGw6IzAzMDEwNDsiIGQ9Ik00M
CwwQzI2LjE5MSwwLDE1LDExLjE5NCwxNSwyNWMwLDIzLjg3LDI1LDU1LDI1LDU1czI1LTMxLjEz
LDI1LTU1QzY1LDExLjE5NCw1My44MDcsMCw0MCwwegoJCQkgTTQwLDM4LjhjLTcuNDU3LDAtMTM
uNS02LjA0NC0xMy41LTEzLjVTMzIuNTQzLDExLjgsNDAsMTEuOGM3LjQ1NSwwLDEzLjUsNi4wND
QsMTMuNSwxMy41UzQ3LjQ1NSwzOC44LDQwLDM4Ljh6Ii8+Cgk8L2c+CjwvZz4KPC9zdmc+:image/svg+xml;base64,[PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXR
vcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVm
Vyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xI
iB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8v
d3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgODA
gODAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDgwIDgwOyIgeG1sOnNwYWNlPS
JwcmVzZXJ2ZSI+CjxnPgoJPGc+CgkJPHBhdGggc3R5bGU9ImZpbGw6IzAzMDEwNDsiIGQ9Ik00M
CwwQzI2LjE5MSwwLDE1LDExLjE5NCwxNSwyNWMwLDIzLjg3LDI1LDU1LDI1LDU1czI1LTMxLjEz
LDI1LTU1QzY1LDExLjE5NCw1My44MDcsMCw0MCwwegoJCQkgTTQwLDM4LjhjLTcuNDU3LDAtMTM
uNS02LjA0NC0xMy41LTEzLjVTMzIuNTQzLDExLjgsNDAsMTEuOGM3LjQ1NSwwLDEzLjUsNi4wND
QsMTMuNSwxMy41UzQ3LjQ1NSwzOC44LDQwLDM4Ljh6Ii8+Cgk8L2c+CjwvZz4KPC9zdmc+]" />
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo}}/archive/">Archive</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
